body {
  padding: 10px;
  background: linear-gradient(135deg, #b04, #f80) fixed;
}

header {
  height: 30px;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.board .cell {
  flex: 0 0 30%;
  height: 50px;
  margin: 5px;
  text-align: center;
  background-color: #e0e0e0;
  line-height: 15vw;
  width: 15vw;
  height: 15vw;
  font-size: 4em;
}

.board .cell:hover {
  background-color: lightblue;
}

.board .cell.win {
  background-color: lightgreen;
}
