
<header>
  Glimmer.js Tic-Tac-Toe...
</header>

<div class="board">
  {{#each board.cellValues key="@index" as |cellValue index|}}
    <div class="cell" onclick={{action chooseCell index}}>
      {{#if cellValue}}
        {{cellValue}}
      {{else}}
        -
      {{/if}}
    </div>
  {{/each}}
</div>

<button onclick={{action newGame}}>New Game</button>
